
/**
 * Set site colours
 */
$main-blue = #263238

.landing-container
  font-variant: small-caps
  text-align: center
  margin-right: -42%
  margin-top: 38%
  bottom: 58%
  // background-color: red
  .landing-name
    color: $main-blue


