/**
 * Set site colours
 */
$bleed-red = #702021
$main-blue = #263238

a
  text-decoration: none
  color: $bleed-red
.post-nav
  text-decoration: none
  color: $main-blue

.post-navigator
  padding: 0
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  list-style: none