/**
 * Set site colours
 */
$bleed-red = #702021
$main-blue = #263238
$hover-yellow = #FCD581

a
  text-decoration: none
  color: $bleed-red

a:hover
  color: $main-blue

.post-nav
  text-decoration: none
  color: $main-blue

h1, h2, h3, h4, h5, h6
  font-family: 'Bitter'

h1
  font-size: 3.25rem

h2
  font-size: 2rem

.blog-post-content
  font-size: 20px

.post-navigator
  padding: 0
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  list-style: none

// ********************************************************************************

// Styleguide Nord - Polar Night
$nord00 = #2e3440;
$nord01 = #3b4252;
$nord02 = #434c5e;
$nord03 = #4c566a;

// Styleguide Nord - Snow Storm
$nord04 = #d8dee9;
$nord05 = #e5e9f0;
$nord06 = #eceff4;

// Styleguide Nord - Frost
$nord07 = #8fbcbb;
$nord08 = #88c0d0;
$nord09 = #81a1c1;
$nord10 = #5e81ac;

// Styleguide Nord - Aurora
$nord11 = #bf616a;
$nord12 = #d08770;
$nord13 = #ebcb8b;
$nord14 = #a3be8c;
$nord15 = #b48ead;

// ********************************************************************************

/**
 * Based on copypasta from Remy Bach and Sarah Drasner,
 * Also thanks Dan Abramov!
 */
code[class*='language-'],
pre[class*='language-']
	color: $nord04
	background: none
	font-family: Fira Code, monospace
	font-variant-ligatures: contextual
	text-align: left
	white-space: pre
	word-spacing: normal
	word-break: normal
	word-wrap: normal
	line-height: 1.5
	margin-bottom: 0

	-moz-tab-size: 4
	-o-tab-size: 4
	tab-size: 4

/* Code blocks */
pre[class*='language-']
	overflow: auto
	padding: 1.3125rem


pre[class*='language-']::-moz-selection
	/* Firefox */
	background: $nord00


pre[class*='language-']::selection
	/* Safari */
	background: $nord00

/* Text Selection colour */
pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection
	text-shadow: none
	background:  $nord01


pre[class*='language-']::selection,
pre[class*='language-'] ::selection
	text-shadow: none
	background: $nord01


/* Inline code */
:not(pre) > code[class*='language-']
	background: var(--inlineCode-bg)
	color: var(--inlineCode-text)
	padding: 0.15em 0.2em 0.05em
	white-space: normal

.token.attr-name
	color: $nord13
	font-style: italic


.token.comment
	color:  rgb(128, 147, 147)


.token.string,
.token.url
	color: $nord13


.token.variable
	color: $nord05


.token.number
	color: $nord12

.token.builtin,
.token.char,
.token.constant,
.token.function
	color: $nord10


.token.punctuation
	color: $nord15


.token.selector,
.token.doctype
	color: $nord15
	font-style: 'italic'


.token.class-name
	color: $nord14


.token.tag,
.token.operator,
.token.keyword
	color: $nord09


.token.boolean
	color: $nord07


.token.property
	color: $nord08


.token.namespace
	color: $nord04


pre[data-line]
	padding: 1em 0 1em 3em
	position: relative


.gatsby-highlight-code-line
	background-color: hsla(207, 95%, 15%, 1)
	display: block
	margin-right: -1.3125rem
	margin-left: -1.3125rem
	padding-right: 1em
	padding-left: 0.75em
	border-left: 0.25em solid $nord15


.gatsby-highlight
	margin-bottom: 1.75rem
	margin-left: -1.3125rem
	margin-right: -1.3125rem
	background: $main-blue
	-webkit-overflow-scrolling: touch
	overflow: auto


.gatsby-highlight pre[class*='language-']
	float: left
	min-width: 100%

