
/**
 * Set site colours
 */
$primary = #263238
$secondary= #e1e2e1
$bright = #ffffff
$bleed-blue = #0086b3
$bleed-green = #5bbd76

input, textarea
  width: 100%
  box-sizing: border-box;
  border: 2px solid $primary;
  background-color: $secondary;
  padding: 1% 1%;

button
  background-color: #263238;
  width: 100%
  color: white;
  padding: 1%;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
