/**
 * Set site colours
 */
$background-white=#e1e2e1
$large-screen-threshold= 480 px


html, body
  margin: 0
  height:100%
  background-color: $background-white
  font-family: 'PT Sans', Helvetica, Arial, sans-serif

.sidebar, .content
  height: 100vh

.content
  padding: 5%

@media (min-width: $large-screen-threshold)
  allocatePageFraction(amount)
    "calc(100% / 12 * %s)" % amount

  $size-of-sidebar=3

  .sidebar
    position: fixed
    padding: 2%
    width:allocatePageFraction($size-of-sidebar)

  .content
    position: relative
    padding: 2%
    padding-left: 12%
    padding-right: 24%
    height: 80%
    margin-left: allocatePageFraction($size-of-sidebar)
    // width: allocatePageFraction(12 - $size-of-sidebar)



    .bottom-space
      position absolute
      height: 20%
      padding-bottom: 5%

.link
  box-shadow: 'none'
  text-decoration: 'none'
  color: 'inherit'
