/**
 * Set site colours
 */
$main-blue = #263238
$accent-white= #e1e2e1
$full-white = #ffffff
$bleed-blue = #0086b3
$bleed-green = #5bbd76

.timeline
    font-family: 'Bitter', serif
    .vertical-timeline-element-subtitle
        font-size: 90%
        text-align: right

    .timeline-ecobee-logo
        font-family: 'Bitter', serif
        background-image url('./icons/ecobee.png')