/**
 * Set site colours
 */
$main-blue = #263238
$accent-white= #e1e2e1
$full-white = #ffffff
$bleed-blue = #66B6D1
$bleed-green = #5bbd76
$bleed-red = #702021
$hover-yellow = #FCD581

$large-screen-threshold = 480px

.sidebar-container
  font-family: 'Bitter', serif
  background-color: $main-blue
  color: $accent-white
  height: 93%;
  text-decoration: none
  line-height: 1.5
  font-size: 110%

  .sidebar-main
    padding-left: 1%
    padding-right: 10%
    @media (min-width: $large-screen-threshold)
      position: absolute
      bottom: 15%

  .sidebar-avatar
    @media (max-width: $large-screen-threshold)
      display: none
    @media (min-width: $large-screen-threshold)
      display: none
      // background-color: $accent-white
      // display: block
      // margin-left: auto
      // margin-right: auto
      // width: 35%
      // padding: 1%
      // border-radius: 50%
      // opacity: 0.90

  .sidebar-description
    color: $accent-white
    opacity: 0.75
    font-family: PT Sans, Consolas, Menlo, Monaco, source-code-pro, Courier New, monospace
    padding: 10%

  .sidebar-pv-link
    opacity: 1
    font-weight: 600
    color: $full-white

  .sidebar-toronto
    background-color: $accent-white
    fill: $main-blue
    transform: scaleX(-1)
    width: 100%


  .sidebar-logo-container
    text-align: right
    margin-right: 10%
    margin-left: 10%
    .sidebar-logo
      fill: $accent-white

  .sidebar-page-links
    opacity: 0.80
    color: $accent-white
    padding-top: 3%
    padding-bottom: 3%
    padding-left: 12%
    padding-right: 10%

  .sidebar-resume-link
    color: $accent-white

  .sidebar-pv-link:hover
  .sidebar-resume-link:hover
  .sidebar-page-links:hover
    color: $hover-yellow
