/**
 * Set site colours
 */
$main-blue = #263238
$accent-white= #e1e2e1
$full-white = #ffffff
$bleed-blue = #0086b3
$bleed-green = #5bbd76

.sidebar-container
  font-family: 'Bitter', serif
  background-color: $main-blue
  color: $accent-white
  height: 93%;
  text-decoration: none
  line-height: 1.5

  .sidebar-main
    padding-left: 1%
    padding-right: 1%
    width: 100%

  .sidebar-description
    color: $accent-white
    opacity: 0.75
    font-size: 80%
    padding-left: 10%
    padding-right: 10%

  .sidebar-uoft-link
    opacity: 1
    color: $full-white

  .sidebar-uoft-link:hover
    color: $bleed-blue

  .sidebar-ecobee-link
    opacity: 1
    color: $full-white

  .sidebar-ecobee-link:hover
    color: $bleed-green

  .sidebar-toronto
    background-color: $accent-white
    fill: $main-blue
    transform: scaleX(-1)
    width: 100%

  .sidebar-logo-container
    text-align: right
    margin-right: 10%
    margin-left: 10%
    .sidebar-logo
      fill: $accent-white

  .sidebar-page-links
    color: $accent-white
    padding-top: 2%
    padding-bottom: 2%
    padding-left: 12%
    padding-right: 10%

  .sidebar-page-links:hover
    color: yellow
