
/**
 * Set site colours
 */
$sidebar-primary = #263238
$sidebar-secondary=  #e1e2e1
$sidebar-bright = #ffffff

.sidebar
  display:inline-block
  background-color: $sidebar-primary
  color: $sidebar-secondary
  text-decoration: none

  .sidebar-container
    padding-left: 1rem
    padding-right: 1rem
    width: 100%

  .sidebar-description
    color: $sidebar-bright
    opacity: 0.5
    padding: 2rem

  a
    color: $sidebar-secondary
    font-weight: bold
    text-decoration: none

  .sidebar-toronto
    background-color: $sidebar-secondary
    fill: $sidebar-primary
    transform: scaleX(-1)
    width: 100%

  .sidebar-logo
    fill: $sidebar-bright
    padding: 5%
    margin-bottom: -15%
    margin-top: -10%